@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

body {
    background: url('/img/ministrans_logo16_kicsi.png');
    background-size: 1000px 1000px;
    background-position: center;
    background-repeat: no-repeat;
}

*[role="form"] {
    max-width: 900px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 90%;
}

*[role="form"] h2 { 
    font-family: 'Lobster' , sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    letter-spacing: 4px;
}

*[role="form"] h3 { 
    font-family: 'Lobster' , sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    letter-spacing: 4px;
}

*[role="form"] h4 { 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #000000;
    text-align: justify;
    
}

*[role="form"] h5 { 
    font-family: 'Lobster', sans-serif;
    font-weight: 600;
    color: #000000;
    text-align: center;
    letter-spacing: 4px;
}

*[role="form"] .help-block { 
   text-align: center;
   font-weight: 300;
   font-size: 12px;
}


#kerdes { 
   text-align: center;
}

/*div.reason-list {
    margin: 5px;
    position: center;
}*/

.answer {
    display:none;
}